{% extends 'base.html' %}

{% block content %}
<div id="container">
    <div class="goback">
        <a href="javascript:history.back()"><i class="fa-solid fa-backward"></i> Back</a>
    </div>
    <div style="float: right; margin-top: 30px; margin-right: 15px;">
        <a style="text-decoration: none; " class="black" href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
    </div>
    <h1 class="heading">Create a New Unit</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn create" type="submit"><i class="fa-solid fa-plus"></i> Create</button>
        <button class="btn create" style="float:right;">
            <a class="black" href="{% url 'upload_unit' %}"><i class="fa-solid fa-cloud-arrow-up"></i> Upload CSV Instead</a>
        </button>
    </form>
</div>
{% endblock %}