{% extends 'base.html' %}

{% block content %}

<div id="container">
    <div class="goback">
        <a href="javascript:history.back()"><i class="fa-solid fa-backward"></i> Back</a>
    </div>
    <h2 class="heading">Delete Inventory</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="heading">
            <p>Are you sure you want to delete - {{inventory.name}} ?</p>
            <button class="btn delete" type="submit"><i class="fa-solid fa-trash"></i> Delete</button>
            <a class="btn cancel" href="{% url 'inventories' %}"><i class="fa-solid fa-xmark"></i> Cancel</a>
        </div>
    </form>
</div>

{% endblock %}